$skyBlue: rgb(83, 189, 224);
$priority1: rgb(105, 212, 248);
$priority2: rgb(24, 176, 226);
$priority3:rgb(101, 194, 224);
$priority4: rgb(153, 203, 219);
$priority5: rgb(210, 237, 246);
$white: rgb(255, 255, 255);
$black: rgb(0,0,0);
$gray: #555;
$red: rgb(255,0,0);